* {
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    text-align: center;
    background-color: rgb(31, 159, 168);
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px;
    margin-top: 50px;
    box-shadow: 3px 3px 5px gray;
}

h2 {
    text-align: center;
    margin-top: -20px;
    color: white;
    text-decoration: underline;
}

#card {
    display: block;
    background-color:	#f1b347;
    box-shadow: 0 2px 4px 3px gray;
    margin: 60px auto;
    padding: 50px;
    width: 30vw;
}

p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#starter {
    background-color: black;
    margin-left: 35%;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
}

li {
    background-color: rgb(31, 159, 168);
    margin-top: 20px;
    padding: 14px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    list-style: none;
}

#timeDisplay {
    float: right;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 10px;
}