* {
    background-color: rgb(231, 226, 221);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    text-align: center;
    background-color: rgb(31, 159, 168);
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px;
    margin-top: 50px;
    box-shadow: 3px 3px 5px gray;
}

.card {
    display: block;
    background-color:	#f1b347;
    box-shadow: 0 2px 4px 3px gray;
    margin: 60px auto;
    padding: 200px;
    width: 30vw;
}